@using FarmaGestion.Entities
@rendermode InteractiveServer

<!-- Modal -->
<div class="modal @StatusClass" tabindex="-1" style="display:@StyleDisplay">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@(Modificando ? "Modificando" : "Nuevo") Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                @if (data != null)
                {
                    <form>
                        <div class="mb-3">
                            <label for="recipient-codigo" class="col-form-label">Codigo:</label>
                            <input type="number" class="form-control" id="recipient-codigo" @bind="data.Codigo">
                        </div>
                        <div class="mb-3">
                            <label for="message-nombre" class="col-form-label">Nombre del Producto:</label>
                            <input type="text" class="form-control" id="message-nombre" @bind="data.Nombre">
                        </div>
                        <div class="mb-3">
                            <label for="message-tipo" class="col-form-label">Tipo:</label>
                            <select class="form-control" id="message-tipo" @bind="data.Tipo">
                                <option value="Medicacion">Medicacion</option>
                                <option value="Perfumeria">Perfumeria</option>
                                <option value="Cosmeticos">Cosmeticos</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="message-precio" class="col-form-label">Precio:</label>
                            <input type="number" class="form-control" id="message-precio" @bind="data.Precio">
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Close">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="() => GuardarEventCallback.InvokeAsync()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Producto? data { get; set; }
    [Parameter]
    public EventCallback GuardarEventCallback { get; set; }
    [Parameter]
    public bool Modificando { get; set; } = false;

    private string StatusClass = "fade";
    private string StyleDisplay = "none";

    public void Open()
    {
        StatusClass = "show";
        StyleDisplay = "block";
        StateHasChanged();
    }

    public void Close()
    {
        StatusClass = "fade";
        StyleDisplay = "none";
        StateHasChanged();
    }
}