@using FarmaGestion.Entities
@rendermode InteractiveServer

<!-- Modal -->
<div class="modal @StatusClass" tabindex="-1" style="display:@StyleDisplay">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@(Modificando ? "Modificando" : "Nuevo") Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                @if(data != null)
                {
                    <form>
                        <div class="mb-3">
                            <label for="recipient-dni" class="col-form-label">DNI:</label>
                            <input type="number" class="form-control" id="recipient-dni" @bind="data.DNI">
                        </div>
                        <div class="mb-3">
                            <label for="message-nombre" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="message-nombre" @bind="data.Nombre">
                        </div>
                        <div class="mb-3">
                            <label for="message-apellido" class="col-form-label">Apellido:</label>
                            <input type="text" class="form-control" id="message-apellido" @bind="data.Apellido">
                        </div>
                        <div class="mb-3">
                            <label for="message-direccion" class="col-form-label">Direccion:</label>
                            <input type="text" class="form-control" id="message-direccion" @bind="data.Direccion">
                        </div>
                        <div class="mb-3">
                            <label for="message-telefono" class="col-form-label">Numero de Telefono:</label>
                            <input type="number" class="form-control" id="message-telefono" @bind="data.NumeroTelefono">
                        </div>
                        <div class="mb-3">
                            <label for="message-obrasocial" class="col-form-label">Obra Social:</label>
                            <input type="text" class="form-control" id="message-obrasocial" @bind="data.ObraSocial">
                        </div>
                        <div class="mb-3">
                            <label for="message-descuento1" class="col-form-label">Descuento 1:</label>
                            <input type="number" class="form-control" id="message-descuento1" @bind="data.Descuento1">
                        </div>
                        <div class="mb-3">
                            <label for="message-descuento2" class="col-form-label">Descuento 2:</label>
                            <input type="number" class="form-control" id="message-descuento2" @bind="data.Descuento2">
                        </div>
                        <div class="mb-3">
                            <label for="message-descuento3" class="col-form-label">Descuento 3:</label>
                            <input type="number" class="form-control" id="message-descuento3" @bind="data.Descuento3">
                        </div>
                        <div class="mb-3">
                            <label for="message-descuento4" class="col-form-label">Descuento 4 ($):</label>
                            <input type="number" class="form-control" id="message-descuento4" @bind="data.Descuento4">
                        </div>

                        <div class="mb-3">
                            <label for="message-tipodesc" class="col-form-label">Tipo de descuento(% o $):</label>
                            <select class="form-control" id="message-tipo" @bind="data.TipoDescuento">
                                <option value="Porcentaje">Porcentaje</option>
                                <option value="Dinero">Dinero</option>
                            </select>
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Close">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="() => GuardarEventCallback.InvokeAsync()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Cliente? data { get; set; }
    [Parameter]
    public EventCallback GuardarEventCallback { get; set; }
    [Parameter]
    public bool Modificando { get; set; } = false;

    private string StatusClass = "fade";
    private string StyleDisplay = "none";

    public void Open()
    {
        StatusClass = "show";
        StyleDisplay = "block";
        StateHasChanged();
    }

    public void Close()
    {
        StatusClass = "fade";
        StyleDisplay = "none";
        StateHasChanged();
    }
}