@page "/Cliente"
@using FarmaGestion.Components.Pages.ClienteFold
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin, Administradorm, Empleado")]

<h3>ClientePage</h3>

<ClienteModal @ref="modal" data="clienteMod" GuardarEventCallback="Guardar" Modificando="modificando"></ClienteModal>

<button type="button" class="btn btn-primary" @onclick="NuevoCliente">Nuevo Cliente</button>

<ClienteListado Datos="@ClientesList" MostrarBotones="true" modificarEvent="Modificar" eliminarEvent="Eliminar"></ClienteListado>